{% load static %}
<!-- ======= Cliens Section ======= -->
<section id="cliens" class="cliens section-bg">
  {% include "cliens.html" %}
</section><!-- End Cliens Section -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  {% include "about.html" %}
</section><!-- End About Us Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
  {% include "why.html" %}
</section><!-- End Why Us Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
  {% include "skills.html" %}
</section><!-- End Skills Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  {% include "services.html" %}
</section><!-- End Services Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  {% include "cta.html" %}
</section><!-- End Cta Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  {% include "portfolio.html" %}
</section><!-- End Portfolio Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  {% include "team.html" %}
</section><!-- End Team Section -->

<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  {% include "pricing.html" %}
</section><!-- End Pricing Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  {% include "faq.html" %}
</section><!-- End Frequently Asked Questions Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  {% include "contact.html" %}
</section><!-- End Contact Section -->