{% load static %}

<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Portfolio</h2>
    <p>{{ portfolio.description }}</p>
  </div>

  <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
    <li data-filter="*" class="filter-active">All</li>
    <li data-filter=".filter-app">App</li>
    <li data-filter=".filter-card">Card</li>
    <li data-filter=".filter-web">Web</li>
  </ul>

  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    {% for item in portfolio.list_description.all %}
    <div class="col-lg-4 col-md-6 portfolio-item filter-{{ item.type }}">
      <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="portfolio-info">
        <h4>{{ item.title }}</h4>
        <p>{{ item.type }}</p>
        <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery"
          class="portfolio-lightbox preview-link" title="{{ item.title }}"><i class="bx bx-plus"></i></a>
        <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
      </div>
    </div>
    {% endfor %}
  </div>

</div>