{% load static %}
{% load my_custom_tags %}
<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Pricing</h2>
    <p>{{ pricing.description }}</p>
  </div>

  <div class="row">

    {% for column in columns %}
      <div class="col-lg-4 {% if forloop.counter > 1 %}mt-4 mt-lg-0{% endif %}" data-aos="fade-up" data-aos-delay='{{ forloop.counter|multiply:"100" }}'>
        <div class="box {% if forloop.counter == 2 %}featured{% endif %}">
          <h3>{{ column.title }}</h3>
          <h4><sup>$</sup>{{ column.price|floatformat:"0" }}<span>per month</span></h4>
          <ul>
            {% for action in column.actions.all %}
              {% if action.available %}
                <li><i class="bx bx-check"></i> {{ action.action.description }}</li>
              {% else %}
                <li class="na"><i class="bx bx-x"></i> <span>{{ action.action.description }}</span></li>
              {% endif %}
            {% endfor %}
          </ul>
          <a href="#" class="buy-btn">Get Started</a>
        </div>
      </div>
    {% endfor %}

  </div>

</div>
