{% load static %}
{% load my_custom_tags %}
<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Services</h2>
    <p>{{ services.description }}</p>
  </div>

  <div class="row">
    {% for service in services.list_description.all %}
    <div class="col-xl-3 col-md-6 d-flex align-items-stretch {% if forloop.counter > 1 %}mt-4{% endif %} {% if forloop.counter > 2 %}mt-xl-0{% elif forloop.counter == 2 %}mt-md-0{% endif %}"  data-aos="zoom-in" data-aos-delay='{{ forloop.counter|multiply:"100" }}'>
      <div class="icon-box">
        <div class="icon"><i class="bx {{ service.icon }}"></i></div>
        <h4><a href="">{{ service.title }}</a></h4>
        <p>{{ service.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>