{% load static %}
<div class="container-fluid" data-aos="fade-up">

  <div class="row">

    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

      <div class="content">
        <h3>{{ why.title }}<strong> {{ why.titleBold }} </strong></h3>
        <p>
          {{ why.description }}
        </p>
      </div>

      <div class="accordion-list">
        <ul>
          {% for item in why.list_description.all %}
          <li>
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-{{ forloop.counter }}"><span>{% if forloop.counter < 9 %}0{% endif %}{{ forloop.counter }}</span> {{ item.title }} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="accordion-list-{{ forloop.counter }}" class="collapse {% if forloop.counter == 1 %} show {% endif %}" data-bs-parent=".accordion-list">
              <p>
                {{ item.description }}
              </p>
            </div>
          </li>
          {% endfor %}

        </ul>
      </div>

    </div>

    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
      style='background-image: url({% static "assets/img/why-us.png" %});' data-aos="zoom-in" data-aos-delay="150">&nbsp;
    </div>
  </div>

</div>